<main>
	<div class='container'>

		{{#if todos.length}}

			<ul class='list-group'>
				{{#each todos as |todo|}}
					<li class='list-group-item mt-2'>
						<form class='d-flex justify-content-between'>
							{{#if finish}}
								<div class='form-check'>
									<input class='form-check-input' type='checkbox' value='' id='flexCheckIndeterminateTrue' onclick='changeTodo({{id}},0)' checked />
									<label class='form-check-label text-decoration-line-through' for='flexCheckIndeterminateTrue'>
										{{title}}
									</label>
								</div>
							{{else}}
								<div class='form-check'>
									<input class='form-check-input' type='checkbox' value='' id='flexCheckIndeterminate' onclick='changeTodo({{id}},1)' />
									<label class='form-check-label' for='flexCheckIndeterminate'>{{title}}</label>
								</div>
							{{/if}}
							<p><strong>Description:</strong> {{description}}</p>
							<div class='btn-group' role='group' aria-label='Basic mixed styles example'>
								<button type='button' class='btn btn-danger btn-sm' onclick='removeTodo({{id}})'>X</button>
							</div>
						</form>
					</li>
				{{/each}}
			</ul>
		{{else}}
			<p>No todos!</p>
		{{/if}}
	</div>
</main>